* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.form-control {
  position: relative;
  /* 上 左右 下 */
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  /* 默认点击有轮廓显示，0为取消轮廓 */
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  /* 指定在什么情况下 (如果有) 某个特定的图形元素可以成为鼠标事件的 target */
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  /* 阻止 width 属性的应用值小于 min-width 的值。 */
  min-width: 5px;
  /* cubic-bezier(0.68, -0.55, 0.265, 1.55)缓动函数（加贝塞尔曲线参数）会产生类似于EaseInOut的效果，即开始和结束时会缓慢，中间部分加速，但不同于EaseInOut的是缓动函数具有抛物线曲线特征  */
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* span 是 js 后加的 */
.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

.text {
  margin-top: 30px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}